*{

}
body{
    background-color: darkcyan;
    padding-left:20px;
    
}
.button-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 7px;
    grid-row-gap: 15px;
  }
#btn1{
    
    background-color: lightblue;
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;

}
#btn2{
 
    background-color: rgb(144, 238, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn3{
   
    background-color: rgb(153, 144, 238);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn4{
 
    background-color: rgb(238, 144, 216);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn5{
    background-color: rgb(238, 144, 146);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn6{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn7{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn8{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#btn9{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn10{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn11{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn12{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn13{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn14{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn15{
    background-color: rgb(238, 208, 144);
    width: 200px;
    height: 70px;
    border-width: 2px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}
#btn1:hover{
    background-color: rgb(105, 105, 239);
    color: white;
}
#btn2:hover{
    background-color: rgb(50, 238, 100);
    color:white;
}

#btn3:hover{
    background-color: rgb(50, 144, 238);
    color:white;
}
#btn4:hover{
    background-color: rgb(238, 50, 160);
    color:white;
}

#btn5:hover{
    background-color: rgb(238, 50, 50);
    color:white;
}

#btn6:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn7:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn8:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn9:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn10:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn11:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn12:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn13:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn14:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}

#btn15:hover{
    background-color: rgb(238, 147, 50);
    color:white;
}