*{

}
body{
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1{
background-color: lightblue;
width: 200px;
height: 70px;
border-width: 2px;
border-radius: 20px;
font-size: 25px;
font-weight: bold;

}
#btn2{


}

#btn3{


}
#btn1:hover{
    background-color: rgb(105, 105, 239);
    color: white;

}